.root {
    -fx-background-color: linear-gradient(#F2F2EF, #f2ede1);
}
.button {
    -fx-background-color: #DBC390;
    -fx-background-radius: 20px;
    -fx-font: Bold 14px "Arial";
    /*
    -fx-border-radius: 20px;
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-background-insets: 2;
    */
}
.ImageButton{
    -fx-background-color: rgba(0,0,0,0);
}
.button:hover {
    -fx-background-color: #DBC3CC;
    -fx-effect: dropshadow(gaussian, #808080, 10, 0.2, 0, 0);
}
.button:pressed {
    -fx-background-color: linear-gradient(#DBAB6C, #DBC390);
}
.titled-pane {
    -fx-background-color: #DBC390;
}
#deleteAccountButton {
    -fx-font: bold 15px "Arial";
}
#saveAccountButton {
    -fx-font: bold 15px "Arial";
}
#addToCart_ShoppingListButton {
    -fx-font: bold 14px "Arial";
}
#shoppingListLabel {
    -fx-font: bold 17px "Arial";
}