.root {
    /* -fx-background-color: linear-gradient(#F2F2EF, #f2ede1); */
    /* -fx-background-color: linear-gradient(#CDFFD7, #F2EDE1); */
    /* -fx-background-color: #CDFFD7; */
    -fx-background-color: #E2FFD7;
}
.button {
    /* -fx-background-color: #44B25A; */
    -fx-background-color: #72B29E;
    -fx-background-radius: 20px;
    -fx-font: bold 14px "Arial";
    /*
    -fx-border-radius: 20px;
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-background-insets: 2;
    */
}
.ImageButton{
    -fx-background-color: rgba(0,0,0,0);
}
.button:hover {
    -fx-background-color: #7BFF95;
    -fx-effect: dropshadow(gaussian, #808080, 10, 0.2, 0, 0);
}
.button:pressed {
    -fx-background-color: linear-gradient(#7BFF95, #49E564, #7BFF95);
}
.titled-pane {
}
.titled-pane > .title {
    -fx-background-color: linear-gradient(#A0FFD6, #A0FFD6);
    -fx-font: bold 16px "Arial";
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-background-insets: 1px;

}
.titled-pane: focused{
    -fx-font: bold 16px "Arial";
}
.titled-pane > *.content {
    -fx-background-color: transparent;
}
#deleteAccountButton {
    -fx-font: bold 14px "Arial";
}
#saveAccountButton {
    -fx-font: bold 14px "Arial";
}
#addToCart_ShoppingListButton {
    -fx-font: bold 14px "Arial";
}
#shoppingListLabel {
    -fx-font: bold 14px "Arial";
}
#nextButtonLabel {
    -fx-font: bold 14px "Arial";
}
#backButtonLabel {
    -fx-font: bold 14px "Arial";
}
#nextButton: hover {
    -fx-background-color: transparent;
}
#backButton: hover {
    -fx-background-color: transparent;
}
#addToCarT_ItemButton: pressed {
}
#productElement_GP {
    -fx-border-color: silver;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-padding: 10px;
}