.root {
    -fx-background-color: linear-gradient(#F2F2EF, #f2ede1);
}
.button {
    -fx-background-color: #DBC390;
}
.ImageButton{
    -fx-background-color: rgba(0,0,0,0);
}
.button:hover {
    -fx-effect: dropshadow(gaussian, #808080, 10, 0.2, 0, 0);
}
.button:pressed {
    -fx-background-color: linear-gradient(#DBAB6C, #DBC390);
}
.titled-pane {
    -fx-background-color: #DBC390;
}